<p-menubar [model]="items">
    <img src="./favicon.ico" class="animate__animated animate__slower animate__fadeIn animate__infinite">
</p-menubar>



<!-- <h2>Menú</h2>

<ul>
    <li>
        <a routerLink="">
            Inicio
        </a>
    </li>
    <li>
        <a routerLink="proyectos-personales">
            Proyectos Personales
        </a>
    </li>
    <li>
        <a routerLink="mini-aplicaciones">
            Aplicaciones
        </a>
    </li>
    <li>
        <a routerLink="certificaciones">
            Certificaciones
        </a>
    </li>
    <li>
        <a routerLink="info-personal">
            Información Personal
        </a>
    </li>
</ul> -->
