<h1>Aplicaciones desarrolladas en cursos online</h1>
    <!-- p-jc-center -->
    <div class="p-grid">
        <!-- GIF APP-->
        <div class="p-col-12 p-md-6 p-lg-3 animate__animated animate__fadeIn">
            <p-card header="GIF App" >
                <p>
                    En esta aplicación aprendí a trabajar de forma modularizada, injectar servicios en mis proyectos y a consumir información de una API (de GIFs). 
                    Cada búsqueda realizada, se mantiene en el menú izquierdo (10 item max) porque utilicé localStorage.
                </p>
                <p>
                    <strong class="text-rojo">IMPORTANTE: </strong>Estás primeras aplicaciones NO SON RESPONSIVE.
                </p>
                <p>
                    <strong>Host Proyectos</strong>: <a href="https://app.netlify.com/" target="_blank" rel="noopener noreferrer"> Netlify </a>
                </p>
                <p>
                    <strong>API SERVER</strong>: <a href="https://developers.giphy.com/" target="_blank" rel="noopener noreferrer">GIPHY Developers</a>
                </p>
                <p>
                    <strong>Tecnologías Utilizadas</strong>: Angular, Typescript, Animate CSS, Bootstrap.
                </p>

                <ng-template pTemplate="footer">
                    <a 
                    pButton 
                    pRipple 
                    type="button" 
                    label="Gifs App" 
                    class="p-button-raised p-button-success text-decoration-none" 
                    href="https://fervent-rosalind-971962.netlify.app/" 
                    target="_blank" 
                    rel="noopener noreferrer"></a> 
                </ng-template>                      
                    
   
            </p-card>
        </div>

        <!-- PAISES APP -->
        <div class="p-col-12 p-md-6 p-lg-3 animate__animated animate__fadeIn" >
            <p-card header="Paises App">
                <p>
                    En esta aplicación aprendí a trabajar de forma modularizada, injectar servicios en mis proyectos y a consumir información de una API (en este caso una de Países). 
                    El listado del lado izquierdo de la web, permite realizar búsquedas por país, región o por capital.
                </p>
                <p>
                    <strong class="text-rojo">IMPORTANTE: </strong>Estás primeras aplicaciones NO SON RESPONSIVE.
                </p>

                <p>
                    <strong>Host Proyectos</strong>: <a href="https://app.netlify.com/" target="_blank" rel="noopener noreferrer"> Netlify </a>
                </p>

                <p>
                    <strong>API SERVER</strong>: <a href="https://developers.giphy.com/" target="_blank" rel="noopener noreferrer">GIPHY Developers</a>
                </p>

                <p>
                    <strong>Tecnologías Utilizadas</strong>: Angular, Typescript, Animate CSS, Bootstrap.
                </p>

                <ng-template pTemplate="footer">
                    <a 
                    pButton 
                    pRipple 
                    type="button" 
                    label="Paises App" 
                    class="p-button-raised p-button-success text-decoration-none" 
                    href="https://inspiring-leakey-8b87d4.netlify.app" 
                    target="_blank" 
                    rel="noopener noreferrer"></a> 
                </ng-template>   

            </p-card>
        </div>

        <!-- PIPES APP -->
        <div class="p-col-12 p-md-6 p-lg-3 animate__animated animate__fadeIn" >
            <p-card header="Pipes Angular">
                <p>
                    En esta aplicación aprendí y trabajé con cada uno de los pipes que tiene Angular y de una forma básica, creé un pipe personalizado. 
                    En este caso, en vez de utilizar Bootstrap como en las otras aplicaciones, utilicé PrimeNG (similar a Angular Material).
                </p>
                <p>
                    <strong class="text-rojo">IMPORTANTE: </strong>Estás primeras aplicaciones NO SON RESPONSIVE.
                </p>

                <p>
                    <strong>Host Proyectos</strong>: <a href="https://app.netlify.com/" target="_blank" rel="noopener noreferrer"> Netlify </a>
                </p>

                <p>
                    <strong>API SERVER</strong>: <a href="https://developers.giphy.com/" target="_blank" rel="noopener noreferrer">GIPHY Developers</a>
                </p>

                <p>
                    <strong>Tecnologías Utilizadas</strong>: Angular, Typescript, Animate CSS, PrimeNG.
                </p>

                <ng-template pTemplate="footer">
                    <a 
                    pButton 
                    pRipple 
                    type="button" 
                    label="Pipes App" 
                    class="p-button-raised p-button-success text-decoration-none" 
                    href="https://eloquent-golick-5db3cb.netlify.app" 
                    target="_blank" 
                    rel="noopener noreferrer"></a> 
                </ng-template>   

            </p-card>
        </div>
        
        <!-- MAPAS APP -->
        <div class="p-col-12 p-md-6 p-lg-3 animate__animated animate__fadeIn" >
            <p-card header="Mapas App">
                <p>
                    En esta mini aplicación aprendo diferentes formas de trabajar con un mapa: usar un mapa en toda la pantalla, manejar el zoom, agregar marcadores que se eliminan
                    haciendo doble click en su etiqueta y a mostrar una ubicación como una imagen. Arriba a la izquierda hay un pequeño menu con los diferentes ejemplos.
                    Para este ejercicio trabajé con la API de Mapbox.
                </p>
                <p>
                    <strong class="text-rojo">IMPORTANTE: </strong>Esta aplicación no es RESPONSIVE DESIGN.
                </p>

                <p>
                    <strong>Host Proyectos</strong>: <a href="https://app.netlify.com/" target="_blank" rel="noopener noreferrer"> Netlify </a>
                </p>

                <p>
                    <strong>API SERVER</strong>: <a href="https://www.mapbox.com/" target="_blank" rel="noopener noreferrer"> Mapbox </a>
                </p>

                <p>
                    <strong>Tecnologías Utilizadas</strong>: Angular, Typescript, Bootstrap.
                </p>

                <ng-template pTemplate="footer">
                    <a 
                    pButton 
                    pRipple 
                    type="button" 
                    label="Mapas App" 
                    class="p-button-raised p-button-success text-decoration-none" 
                    href="https://unruffled-goodall-e82957.netlify.app/" 
                    target="_blank" 
                    rel="noopener noreferrer"></a> 
                </ng-template>     

            </p-card>
        </div>

        <!-- HEROES APP -->
        <div class="p-col-12 p-md-6 p-lg-3 animate__animated animate__fadeIn" >
            <p-card header="Heroes App">
                <p>
                    Para que esta aplicación funcione, es necesario tener levantado en mi computadora el backend que es un archivo JSON.
                    En ese archivo tengo la info de todos los héroes. Trabajé de manera modularizada, aprendí sobre CanLoad y CanActive, 
                    Angular Material, LazyLoad y environments.
                </p>
                <p>
                    <strong class="text-rojo">IMPORTANTE: </strong>Esta aplicación si es RESPONSIVE DESIGN. Click en el botón para ver un pequeño vídeo.
                </p>

                <p>
                    <strong>Host Proyectos</strong>: <a href="https://app.netlify.com/" target="_blank" rel="noopener noreferrer"> Netlify </a>
                </p>

                <p>
                    <strong>API SERVER</strong>: <a href="https://developers.giphy.com/" target="_blank" rel="noopener noreferrer">GIPHY Developers</a>
                </p>

                <p>
                    <strong>Tecnologías Utilizadas</strong>: Angular, Typescript, Animate CSS, Angular Material.
                </p>

                <ng-template pTemplate="footer">

                    <button pButton pRipple type="button" label="Heroes App" icon="pi pi-desktop" class="p-button-success" (click)="mostrarDialog()"></button>

                </ng-template>   

            </p-card>
        </div>

    </div>


    <!--DIALOG-->
    <p-dialog header="Heroes App" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">

        <iframe width="100%" height="315" 
        src="https://www.youtube.com/embed/uv2HHUvbS3Y" 
        title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
        encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <p>
            Este ejercicio y aplicación donde utilizo: Angular Material, CanLoad, CanActive, LazyLoad y etc, depende de un archivo JSON 
            que contiene la información de todos los héroes. Funciona como "base de datos / API " para que pueda hacer peticiones HTTP a través de servicios. 
        </p>

        <!-- <p-footer>
            Contenido
        </p-footer> -->
    </p-dialog>




    

