<h1>Aplicaciones desarrolladas en cursos online</h1>



    <div class="p-grid">

        <div class="p-col-12 p-md-6 p-lg-3 animate__animated animate__fadeIn">
            <p-card header="GIF App" >
                <p>
                    En esta aplicación aprendí a trabajar de forma modularizada, injectar servicios en mis proyectos y a consumir información de una API (en este caso una de GIFs). 
                    El listado del lado izquierdo de la web, es de un máximo de 10 items y, cada búsqueda realizada, se mantiene en ese menú porque utilicé localStorage.
                </p>
                <p>
                    <strong class="text-rojo">IMPORTANTE: </strong>Estás primeras aplicaciones NO SON RESPONSIVE.
                </p>
                <p>
                    <strong>Host Proyectos</strong>: <a href="https://app.netlify.com/" target="_blank" rel="noopener noreferrer"> Netlify </a>
                </p>
                <p>
                    <strong>API SERVER</strong>: <a href="https://developers.giphy.com/" target="_blank" rel="noopener noreferrer">GIPHY Developers</a>
                </p>
                <p>
                    <strong>Tecnologías Utilizadas</strong>: Angular, Typescript, Animate CSS, Bootstrap.
                </p>

                <ng-template pTemplate="footer">
                    <a 
                    pButton 
                    pRipple 
                    type="button" 
                    label="Gifs App" 
                    class="p-button-raised p-button-success text-decoration-none" 
                    href="https://fervent-rosalind-971962.netlify.app/" 
                    target="_blank" 
                    rel="noopener noreferrer"></a> 
                </ng-template>                      
                    
   
            </p-card>
        </div>

        <div class="p-col-12 p-md-6 p-lg-3 animate__animated animate__fadeIn" >
            <p-card header="Paises App">
                <p>
                    En esta aplicación aprendí a trabajar de forma modularizada, injectar servicios en mis proyectos y a consumir información de una API (en este caso una de Países). 
                    El listado del lado izquierdo de la web, permite realizar búsquedas por país, región o por capital.
                </p>
                <p>
                    <strong class="text-rojo">IMPORTANTE: </strong>Estás primeras aplicaciones NO SON RESPONSIVE.
                </p>

                <p>
                    <strong>Host Proyectos</strong>: <a href="https://app.netlify.com/" target="_blank" rel="noopener noreferrer"> Netlify </a>
                </p>

                <p>
                    <strong>API SERVER</strong>: <a href="https://developers.giphy.com/" target="_blank" rel="noopener noreferrer">GIPHY Developers</a>
                </p>

                <p>
                    <strong>Tecnologías Utilizadas</strong>: Angular, Typescript, Animate CSS, Bootstrap.
                </p>

                <ng-template pTemplate="footer">
                    <a 
                    pButton 
                    pRipple 
                    type="button" 
                    label="Paises App" 
                    class="p-button-raised p-button-success text-decoration-none" 
                    href="https://inspiring-leakey-8b87d4.netlify.app/region" 
                    target="_blank" 
                    rel="noopener noreferrer"></a> 
                </ng-template>   

            </p-card>
        </div>

        <div class="p-col-12 p-md-6 p-lg-3 animate__animated animate__fadeIn" >
            <p-card header="Pipes Angular">
                <p>
                    En esta aplicación aprendí a trabajar de forma modularizada, injectar servicios en mis proyectos y a consumir información de una API (en este caso una de Países). 
                    El listado del lado izquierdo de la web, permite realizar búsquedas por país, región o por capital.
                </p>
                <p>
                    <strong class="text-rojo">IMPORTANTE: </strong>Estás primeras aplicaciones NO SON RESPONSIVE.
                </p>

                <p>
                    <strong>Host Proyectos</strong>: <a href="https://app.netlify.com/" target="_blank" rel="noopener noreferrer"> Netlify </a>
                </p>

                <p>
                    <strong>API SERVER</strong>: <a href="https://developers.giphy.com/" target="_blank" rel="noopener noreferrer">GIPHY Developers</a>
                </p>

                <p>
                    <strong>Tecnologías Utilizadas</strong>: Angular, Typescript, Animate CSS, Bootstrap.
                </p>

                <ng-template pTemplate="footer">
                    <a 
                    pButton 
                    pRipple 
                    type="button" 
                    label="Pipes App" 
                    class="p-button-raised p-button-success text-decoration-none" 
                    href="https://eloquent-golick-5db3cb.netlify.app" 
                    target="_blank" 
                    rel="noopener noreferrer"></a> 
                </ng-template>   

            </p-card>
        </div>

    </div>



    

