<h1>Proyectos Personales</h1>


<div *ngFor="let proyecto of misProyectos">

    <div class="p-grid">

        <div class="p-col-12 p-md-6 p-lg-3 animate__animated animate__fadeIn">
            <p-card [header]="proyecto.nombre">
        
                <p>
                    {{proyecto.descripcion}}
                </p>
        
                <p>
                    <strong>Tecnologías: </strong>{{proyecto.tecnologiasUtilizadas}}
                </p>
        
                <p>
                    <strong>Actualmente lo estoy desarrollando de nuevo pero con Angular.</strong>
                </p>
                <p>
                    ¿Por qué? Porque me gusta aprender tecnologías nuevas, porque quiero especializarme en angular y porque creo que este framework es mucho más demandado que F7.
                </p>
            </p-card>
        </div>

    </div>


</div>
