<h1>Información Personal</h1>

<h2>Perfil Laboral</h2>
<p>
    Como desarrollador jr, me gustaría incorporarme en áreas relacionadas al desarrollo de aplicaciones web o móviles.
</p>

<h2>Skills</h2>
<p>
    Angular - Angular Material - PrimeNg - Bootstrap - HTML - Javascript - CSS - Framework7 - JQuery - Firebase - Apache Cordova.
</p>

<h2>Datos de Contacto</h2>
<p>
    Rosario, Provincia de Santa Fe<br>
    +54 9 341 283 1090<br>
    franco.oliva1991@gmail.com<br>
    https://github.com/francooliva<br>
    https://www.linkedin.com/in/olivafranco/
</p>


