<h1>Información Personal</h1>

<div class="animate__animated animate__fadeIn">

    <p-card >
    
        <div class="p-grid">
            <div class="p-col-12 p-lg-5">
                
                <h3>Perfil laboral</h3>
                <p>
                    Me gusta perseguir objetivos, superar desafíos y me encanta aprender de manera autodidácta.
                </p>
                <p>
                    Por eso, como desarrollador jr, me gustaría incorporarme en áreas relacionadas al desarrollo de aplicaciones web o móviles.
                </p>                               
                
                <h3>Datos de contacto</h3>
                <p>
                    Rosario, Provincia de Santa Fe.
                </p>
                <p>
                    Tel: +54 9 341 283 1090
                </p>
                <p>
                    https//www.linkedin.com/in/olivafranco
                </p>
                <p>
                    https//github.com/FrancoOliva
                </p>
                <p>
                    franco.oliva1991@gmail.com
                </p>
                            
                <h3>Skills</h3>
                <p>
                    Angular - Angular Material - PrimeNg - Bootstrap - Typescript - HTML - <br> 
                    Javascript - CSS - Framework7 - JQuery - Firebase - Apache Cordova -
                </p>
                            
                <h3>
                    Formación complementaria
                </h3>
            
                <strong>Comunidad IT</strong>
                <p>
                    Desarrollo de aplicaciones móviles con Apache Cordova y Framework7 (100hs)
                </p>
                <p>
                    Tecnologías utilizadas: <strong>HTML - CSS - Javascript - JQuery - Firebase</strong>.
                </p>
                <p>
                    Aplicación de metodologías <strong>SCRUM/KanBan</strong> con <strong>Trello</strong>.
                </p>
            
                <strong>Udemy - Curso de Angular con Fernando Herrera</strong>
                <p>
                    Un curso de 43 hs que se enfoca en enseñar Angular desde sus bases hasta conceptos más avanzados.
                </p>
                <p>
                    Tecnologías utilizadas: Angular - Angular Material - Typescript - PrimeNG - Animate CSS - consumo API's de terceros.
                </p>
            
                <strong>Udemy - Curso Angular</strong>
                <p>
                    Un curso de 20 hs de contenido que enseña conceptos básicos/intermedios de Angular.
                </p>
                <p>
                    Tecnologías utilizadas: Angular - Bootstrap - Firebase - Typescript.
                </p>
            </div>
    
            <div class="p-col-1">
                <p-divider layout="vertical">
                    <i class="pi pi-thumbs-up" style="font-size: 2rem"></i>
                </p-divider>
            </div>
    
            <div class="p-col-12 p-lg-5">
                <h3>Experiencia Laboral</h3>
                <strong>Killa Bar (2019/2020)</strong>
                <p>
                    Trabajé como mozo y ayudante de cocina en Tilcara, Jujuy.
                </p>

                <strong>Farolito Hostel (2019/2020)</strong>
                <p>
                    Trabajé en atención al cliente y en el mantenimiento del hostel en Tilcara, Jujuy.
                </p>
                <strong>Dynatac Phone Contact Center (2012/2019)</strong>
                <p>
                    La mayor parte de mis años en esta empresa, trabajé como activador realizando
                    tareas administrativas, control de gestiones y también cuento con Experienciaen el área de ventas telefónicas.
                </p>
                <h3>Nivel de inglés</h3>
                <p>
                    Inglés básico pero puedo comprender textos técnicos/manules.
                </p>
                <h3>
                    Estudios
                </h3>
                <p>
                    Nuestra Sra del Valle n° 3035. Secundario Completo.
                </p>

            </div>
        </div>
    
        
    
        
    
        
    
        
       
    
    </p-card>

</div>









