<h1>Información Personal</h1>

<h2>Perfil Laboral</h2>
<p>
    Como desarrollador jr, me gustaría incorporarme en áreas relacionadas al desarrollo de aplicaciones web o móviles.
</p>

<!-- Skills -->
<div>
    <h2>Skills</h2>
<p>
    Angular - Angular Material - PrimeNg - Bootstrap - Typescript - HTML - Javascript - CSS - Framework7 - JQuery - Firebase - Apache Cordova.
</p>
</div>

<!-- Formación Complementaria -->
<div>
    <h2>Formación Complementaria</h2>
<p>
    <strong>Comunidad IT - Enero/Marzo 2021</strong><br>
    Desarrollo de Aplicaciones Móviles con Apache Cordova (100hs)<br>
    Tecnologías aprendidas: HTML, CSS, Javascript, JQuery, Framework7, Firebase.<br>
    Aplicación de metodologías <strong>SCRUM/KanBan</strong> con <strong>TRELLO.</strong>
</p>
</div>

<hr>

<!-- Datos de Contacto -->
<div>
    <h2>Datos de Contacto</h2>
<p>
    Franco David Oliva<br>
    Rosario, Provincia de Santa Fe<br>
    +54 9 341 283 1090<br>
    franco.oliva1991@gmail.com<br>
    https://github.com/francooliva<br>
    https://www.linkedin.com/in/olivafranco/
</p>
</div>


<!-- Experiencia Laboral -->
<div>
    <h2>Experiencia Laboral</h2>

<h3>Killa Bar (2019/2020)</h3>
<p>
    Trabajé como mozo y ayudante de cocina cuando era necesario en Tilcara, Jujuy.
</p>

<h3>Farolito Hostel (2019/2020)</h3>
<p>
    Trabajé en atención al cliente y en el mantenimiento del lugar.
</p>

<h3>Dynatac Phone Contact Center (2012/2019)</h3>
<p>
    Trabajé como activador realizando tareas administrativas, control de gestiones y también cuento con experiencia en ventas telefónicas.
</p>
</div>




