<h1>Bienvenidos a mi portafolio</h1>

<p>
    Muchas gracias por tomarte unos minutos para conocer un poco más sobre mí.
</p>
<p>
    En este sitio vas a encontrar información sobre mis proyectos personales,
    sobre las aplicaciones desarrolladas en los cursos que hice, certificaciones e información personal.
</p>
<p>
    Todo esto fue desarrollado utilizando 
    <strong>Angular</strong>
    y  <a href="https://www.primefaces.org/primeng/" target="_blank" rel="noopener noreferrer">PrimeNG</a>.
</p>


<!-- Contenido -->
<div class="p-grid p-jc-center">

    <div
    *ngFor="let card of cards"
    class="p-col-12 p-md-6 p-lg-3 animate__animated animate__fadeIn"> 
        <app-card [contenidoCards]="card"></app-card>
    </div>

    
</div>

