<h1>Bienvenidos a mi portafolio</h1>

<p>
    Muchas gracias por tomarte unos minutos para conocer un poco más sobre mí.
</p>
<p>
    En este sitio vas a encontrar información sobre mis proyectos personales,
    sobre las aplicaciones desarrolladas en los cursos que hice, certificaciones e información personal.
</p>
<p>
    Todo esto fue desarrollado utilizando 
    <strong>Angular</strong>
    y  <a href="https://www.primefaces.org/primeng/" target="_blank" rel="noopener noreferrer">PrimeNg</a>.
</p>

<!-- Contenido -->

<div class="p-grid">

    <div class="p-col-3"> 
        <p-card header="Proyectos Personales">

            <ng-template pTemplate="header">
                <img src="assets/angular-logo.png">
            </ng-template>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quibusdam, atque consequatur, possimus obcaecati nostrum quo sequi quia ea corporis molestias praesentium dicta sit earum enim quae hic? 
            Debitis, dolores quidem?

            <ng-template pTemplate="footer">
                <button pButton pRipple type="button" label="Saber más..." class="p-button-raised p-button-success"></button>
                
            </ng-template>
        </p-card>
    </div>

    <div class="p-col-3"> 
        <p-card header="Aplicaciones Cursos Online">

            <ng-template pTemplate="header">
                <img src="assets/angular-logo.png">
            </ng-template>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quibusdam, atque consequatur, possimus obcaecati nostrum quo sequi quia ea corporis molestias praesentium dicta sit earum enim quae hic? 
            Debitis, dolores quidem?

            <ng-template pTemplate="footer">
                <button pButton pRipple type="button" label="Saber más..." class="p-button-raised p-button-success"></button>
            </ng-template>
        </p-card>
    </div>

    <div class="p-col-3"> 
        <p-card header="Certificaciones">

            <ng-template pTemplate="header">
                <img src="assets/angular-logo.png">
            </ng-template>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quibusdam, atque consequatur, possimus obcaecati nostrum quo sequi quia ea corporis molestias praesentium dicta sit earum enim quae hic? 
            Debitis, dolores quidem?

            <ng-template pTemplate="footer">
                <button pButton pRipple type="button" label="Saber más..." class="p-button-raised p-button-success"></button>
            </ng-template>
        </p-card>
    </div>

    <div class="p-col-3"> 
        <p-card header="Información Personal">

            <ng-template pTemplate="header">
                <img src="assets/angular-logo.png">
            </ng-template>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quibusdam, atque consequatur, possimus obcaecati nostrum quo sequi quia ea corporis molestias praesentium dicta sit earum enim quae hic? 
            Debitis, dolores quidem?

            <ng-template pTemplate="footer">
                <button pButton pRipple type="button" label="Saber más..." class="p-button-raised p-button-success"></button>
            </ng-template>
        </p-card>
    </div>
</div>

