/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 10px;
    background-color: var( --surface-d );
    font-family: var( --font-family );
}



.p-card .p-card-content {
    padding: 1rem 0;
    height: 6rem;
}